{erl_opts, [debug_info, warn_untyped_record, warnings_as_errors]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{deps, [
        {erlang_tpke, ".*", {git, "https://github.com/helium/erlang_tpke.git", {branch, "master"}}},
        {erasure, ".*", {git, "https://github.com/helium/erlang-erasure.git", {branch, "master"}}},
        {merkerl, "1.0.1"}
       ]}.

{plugins, [
    {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}},
        pc
]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.

{profiles, [
            {test, [
               {deps, [
                       {relcast, ".*", {git, "git@github.com:helium/relcast.git", {branch, "adt/sketch"}}}
                      ]}
              ]}
           ]}.
