{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
        {erlang_tpke, ".*", {git, "https://github.com/helium/erlang_tpke.git", {branch, "master"}}},
        {leo_erasure, ".*", {git, "https://github.com/helium/leo_erasure.git", {branch, "develop"}}},
        merkerl
       ]}.

{plugins, [
           {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}},
		   pc
    ]}.
