{erl_opts, [debug_info, warn_untyped_record, warnings_as_errors]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{deps, [
        {erlang_tc, ".*", {git, "https://github.com/helium/erlang-tc.git", {branch, "pevm/otp24"}}},
        {erasure, {git, "https://github.com/helium/erlang-erasure.git", {branch, "master"}}},
        {merkerl, "1.0.1"}
       ]}.

{plugins, [
    {rebar3_eqc, "1.3.0"},
    pc
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.

{profiles, [
            {test, [
               {erl_opts, [{parse_transform, lager_transform}]},
               {deps, [
                       {relcast, {git, "https://github.com/helium/relcast.git", {branch, "master"}}}
                      ]}
              ]}
           ]}.
